body {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  margin-top: 20px;
}

.logo {
  width: 100%;
  margin-bottom: 20px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: green;
  color: white;
}

#numeros {
  font-size: 24px;
  font-weight: bold;
}
